body{
    padding:0px;
    margin:0px;
    text-align:center;
}
h1{
    float: left;
    font-size:30px;
    padding-left:100px;
}
#head{
    background-color: black;
    color: white;
    width: 100%;
    height:100px;
}
  ul {
    list-style:none;
  }
  
  #wrap {
    position: relative;
    width:1500px;
    height:200px;
    overflow:hidden;
  }
  
  #slider {
    width:300%;
    height:200px;
    text-align:center;
    color:#fff;
    margin-left:0;
    animation:slide1 5s ease-out infinite;
  }
  
  #slider li {
    font:50px/200px Microsoft Yahei;
    float:left;
    width:1500px;
    height:100%;
  }
  
  #slider li:nth-child(1) {
    background:#6bacef;
  }
  
  #slider li:nth-child(2) {
    background:#297cd3;
  }
  
  #slider li:nth-child(3) {
    background:#01254a;
  }
  
  /*创建三种动画策略*/
  @keyframes slide1 {
    0% { margin-left:0;}
    23% { margin-left:0;}
    33% { margin-left:-1500px;}
    56% { margin-left:-1500px;}
    66% { margin-left:-3000px;}
    90% { margin-left:-3000px;}
    100% {margin-left:0;}
  }
  
  @keyframes slide2 {
    0% { margin-left:-1500px;}
    23% { margin-left:-1500px;}
    33% { margin-left:-3000px;}
    56% { margin-left:-3000px;}
    66% { margin-left:0;}
    90% { margin-left:0;}
    100% {margin-left:-1500px;}
  }
  
  @keyframes slide3 {
    0% { margin-left:-3000px;}
    23% { margin-left:-3000px;}
    33% { margin-left:0;}
    56% { margin-left:0;}
    66% { margin-left:-1500px;}
    90% { margin-left:-1500px;}
    100% {margin-left:-3000px;}
  }
  
#footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
    height: 100px;
    width: 100%;
}
#left{
    background-color: #fff;
    height:41px;
    margin-top:20px;
    float: left;
    width: 285px;
    border-bottom: 1px solid grey;
}
#right{
    background-color: #fff;
    height:41px;
    margin-top:20px;
    float: right;
    width: 928px;
    border-bottom: 1px solid grey;
}
.tab {
    width:960px;
    height:650px;
    background:#fff;
    margin:auto;
    margin-top:20px;
}
.tab_header {
    height:40px;
    line-height:40px;
    margin-left:1px;
}
.tab_normal {
    width:100px;
    height:40px;
    list-style: 40px;
    text-align:center;
    float:left;
    color:black;
    background-color:lightgrey;
    border-top:1px solid grey;
    border-right:1px solid grey;
    border-left:1px solid grey;
    border-bottom: 1px solid grey;
    position:relative;
    z-index:100;
    border-radius:15px 15px 0 0;
    margin-top:1px;
}
.tab_acvite {
    width:100px;
    height:40px;
    line-height:40px;
    text-align:center;
    float:left;
    color:black;
    border-top:1px solid grey;
    border-right:1px solid grey;
    border-left:1px solid grey;
    position:relative;
    z-index:200;
    border-radius:15px 15px 0 0;
    border-bottom:1px solid #fff;
} 
.tab_bodyer{
    width:960px;
    display: flex;
    justify-content:space-around;
    position: absolute;
    float: left;
}
.tab_bodyer div {
    width:960px;
    height:100%;
    margin-top:5px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* display: flex;
    justify-content:space-around; */
}
.content1{
    width:300px;
    overflow: hidden;
    text-align: center;
    float: left;
    border:1px solid black;
    margin-left: 1px;
    padding-top:80px;
    padding-bottom: 80px;
    margin:5px;
}
.content2{
    width:224px;
    overflow: hidden;
    text-align: center;
    float: left;
    border:1px solid black;
    margin-left: 1px;
    padding-top:80px;
    padding-bottom: 80px;
    margin:4px;
}
.lable{
    float:right;
    padding:5px;
}
a:link {color:white;}
a:visited{color: white;}