#nav{
    background-color:rgb(69, 135, 211);
    color: white;
    text-align: center;
    height:850px;
    width: 10%;
    float: left;
    padding: 5px;
}
#css_table{
    float: left;
    padding-left: 15px;
}
a:link {color:black;}    /* 未被访问的链接 */
a:visited {color:grey;} /* 已被访问的链接 */
a:hover {color:blue;}   /* 鼠标指针移动到链接上 */
a:active {color:orange;}  /* 正在被点击的链接 */
