h1{
    font-size:20px;
}
h2{
    font-size: 15px;
}
h4{
    font-size:15px;
    display: inline;
}
p{
    font-size: 15px;
    display: inline;
}
#nav{
    height:50px;
    width: 763px;
    background-color: gray;
    color:white;
    padding: 5px;
}
#css_table{
    display: table;
}
.css_tr{
    display: table-row;
}
.css_td1,.css_td2{
    display: table-cell;
    height: 80px;
}
.css_td1{
    width: 100px;
    background-color: lightgray;
    border: 1px solid white;
    text-align: center;
    vertical-align: middle;

}
.css_td2{
    width: 650px;
    border: 1px solid lightgray;
    white-space: normal;
    padding: 10px;
}
a:link {color:black;}    /* 未被访问的链接 */
a:visited {color:grey;} /* 已被访问的链接 */
a:hover {color:blue;}   /* 鼠标指针移动到链接上 */
a:active {color:orange;}  /* 正在被点击的链接 */
